
.right {
    text-align: right;
}

.label {
    margin-top: 15px !important;
}

.add-task-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.add-task-form input {
    margin: 10px;
    font-size: 20px;
}

.instructions-list {
    text-align: left;
    display: flex;
    justify-content: space-around;
  

}