.nav-bar {
    margin-top: 25px;
}

.nav-list {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.nav-list li {
    list-style-type: none;
    display: inline;
    margin: 0px 15px 0px 15px;
}

.logo {
    width: 250px;
}