.center {
  text-align: center;
}

.report-name {
    text-align: center;
    margin-bottom: 35px !important;
    line-height: 60px;
}

.report {
    margin: 40px auto;
    border: 1px solid rgb(180, 179, 179);
    text-align: left;
    padding: 15px;
    width: 75%;
    background-color: white;
}

.task-data {
    margin: auto auto;
    margin-bottom: 25px;
    border: 1px solid burlywood;
    text-align: left;
    padding: 15px;
    width: 80%;
    background-color: white;
}
@media print {
    @page {
      size: portrait;
    }
    body * {
      visibility: hidden;
    }
    .section-to-print, .section-to-print * {
      visibility: visible;
    }
    .section-to-print {
      width: 100%;
      position: absolute;
      border: 0px;
      left: 0;
      top: 0;
    }
    .task-data {
      width: 90%;      
      text-align: left;

    }
  }